body {
  margin: 0;
  background: #e1e1ef; }

canvas[data-cursor='normal'] {
  cursor: normal;
  cursor: -webkit-normal; }
canvas[data-cursor='pointer'] {
  cursor: pointer;
  cursor: -webkit-pointer; }
canvas[data-cursor='grab'] {
  cursor: grab;
  cursor: -webkit-grab; }
canvas[data-cursor='grabbing'] {
  cursor: grabbing;
  cursor: -webkit-grabbing; }
canvas[data-cursor='cell'] {
  cursor: cell;
  cursor: -webkit-cell; }
